/* Importacion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* importacion de modulos */
@import url('./module/cCambio__gDash.css');
/* @import url('./module/header.css'); */
/* @import url('./module/footer.css'); */

/* variables */
:root {
  /* colores */
  --primary-color: #ffffff;
  --body-color: var(--primary-color);
  --primary-color-fonts: var(--primary-color);
  --secundary-color-fonts: #0889F1;
  --background-header: linear-gradient(180deg, #0889F1 90%, #0C63C5 100%);
  --background-color-section: linear-gradient(180deg, #0889F1 0%, #0C63C5 100%);
  --background-color-pricipal: linear-gradient(#12A6FF, #05145E);
  --background-color-ranking: linear-gradient(#0F84D9, #061F6A);

  /* --background-color-footer: #060423; */
  /* tipografias */
  --primary-fonts: 'Montserrat', sans-serif;
  --secundary-fonts: 'Open Sans', sans-serif;
  --primary-size-fonts: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
  overflow-x: hidden;
  /* font-family: var(--primary-fonts); */
}

section {
  width: 100%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 20px;
}
p {
  font-size: var(--primary-size-fonts);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-fonts);
}

p, a {
  font-family: var(--secundary-fonts);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 0;
  max-width: 1920px;
  margin: 0 auto;
}
.container__content {
  width: 40%;
}

.container__colum {
  flex-direction: column;
}

.container__content--img {
  width: 80%;
}

.container__content--btn {
  margin-top: 35px;
}

.container__content--parrafo {
  display: inline-block;
  max-width: 80%;
  min-width: 285px;
  margin: 0;
}

/* .container__content--center {
  text-align: center;
} */

.container__content--right {
  text-align: right;
}

.background--alternaty{
  background: var(--background-color-pricipal);
}

.font-color-primary {
  color: var(--primary-color-fonts);
}
.font-color-secundary {
  color: var(--secundary-color-fonts);
}
.weight--high {
  font-weight: 900;
}
.weight--low {
  font-weight: 400;
}

.space--letter {
  letter-spacing: 1px;
}

/* .background--alternaty {
  display: inline-block;
  background-image: var(--background-color-section);
  padding: 50px 0;
} */

.superCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.superLeft {
  display: flex;
  justify-content: left;
  align-items: center;
}

.superRight {
  display: flex;
  justify-content: right;
  align-items: center;
}
/********** Botones **********/

.btn {
  display: inline-block;
  width: 180px;
  padding: 15px 0;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
}

.btn--primary {
  background-color: var(--secundary-color-fonts);
  color: var(--primary-color);
}

/* estilos unicos por seccion */

#qDash .container {
  padding-top: 150px;
}



/******************** Responsive ********************/


@media (max-width: 769px) {

  .container {
    flex-direction: column;
    padding: 50px 0;
  }
  .container--reverse {
    flex-direction: column-reverse;
  }
  .container__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
  }
  .container__content .container__content--center {
    text-align: center;
  }

  .container__content--img {
    width: 150px;
  }

  #qDash .container {
    padding-top: 50px;
  }

}