/* Importacion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
/* importacion de modulos */
@import url('./module/buttoms.css');
@import url('./module/header.css');
@import url('./module/dash.css');
@import url('./module/ranking.css');

/* variables */
:root {
  /* colores */
  --primary-color: #e5e5e5;
  --body-color: var(--primary-color);
  --primary-color-fonts: #0889F1;
  /* tipografias */
  --primary-fonts: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
  overflow-x: hidden;
  font-family: var(--primary-fonts);
}

section {
  width: 100%;
  margin: 100px 0;
}

h2 {
  font-size: 60px;
  font-weight: 400;
}

p {
  font-size: 20px;
}