#cCambio__gDash .container {
  padding: 0;
  margin-bottom: 50px;
}

#cCambio__gDash {
  padding: 100px 0 50px 0;
}

#cCambio__gDash .container__content--img, #obtenWalletDash .container__content--img {
  max-height: 370px;
  width: auto;
}

@media (max-width: 769px) {

  #cCambio__gDash .container__content--img, #obtenWalletDash .container__content--img {
    height: 150px;
  }
}