#dash {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
}

#dash div {
  width: 35%;
  text-align: left;
  color: var(--primary-color-fonts);
}

#dash div img {
  width: 100%;
}

