

.faq--header {
  width: 80%;
  padding: 150px 0 100px;
  margin: auto;
  text-align: center;
  max-width: 1920px;
}

.faq--header h1 {
  text-transform: uppercase;
}

/* Barra de busqueda */

.faq--header #searchbar {
  width: 80%;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  margin-top: 20px;
}

.faq--header #searchbar::placeholder {
  color: grey;
}

/* Cuerpo de la pagina principal faq */

.container--pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container__category{
  width: 20%;
}
.category__home {
  display: inline-block;
  margin: 5px;
}
.category__home h2 {
  font-size: 16px;
}

/* Cuerpo de la pagina faq */

.container__infoFaq {
  position: relative;
  flex-wrap: nowrap;
  justify-content: initial;
  align-items: initial;
}

.aside__container{
  width: 25%;
  text-align: left;
}
.aside__container h5 {
  color: #000;
  margin: 10 0px;
  font-size: 20px;
}

#tabAside {
  display: none;
}

.aside__container ul {
  list-style: none;
  margin: 0;
  padding: 0 5px 0 0;
  border-right: 2px solid rgb(47, 122, 207);
}

.aside__container ul li a{
  display: inline-block;
  text-decoration: none;
  width: 94%;
  padding: 10px;
  color: #000;
}

.aside__container ul li a.active__aside {
  color:rgb(47, 122, 207);
  font-weight: bold;
}

.info__container {
  width: 75%;
}

.breadcrumbs {
  text-align: left;
}

.breadcrumbs a{
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: rgb(47, 122, 207);
}

.breadcrumbs a i{
  position: absolute;
  top: 2px;
  left: -15px;
}

.info__question {
  padding: 0 10px 0 40px;
  text-align: left;
}

.info__question h3 {
  font-size: 25px;
}



/* Accordion */

.question {
  margin-top: 10px;
}

button.accordion {
  position: relative;
  /* background: #dd1c1a; */
  background: none;
  /* color: #fff; */
  cursor: pointer;
  border: 0px;
  padding: 18px;
  padding-left: 0;
  width: 100%;
  text-align: left;
  font-size: 18px;
  transition: .4s;
}

/* button.accordion {
  padding-left: 0;
} */

button:focus {
  outline: none;
}

.accordion span {
  width: 90%;
  display: inline-block;
}

.accordion i {
  position: absolute;
  right: 20px;
  margin: 0 10px;
  transition: .4s;
}

.accordion.active i {
  transform: rotate(180deg);
}

/* button.accordion.active, button.accordion:hover {
  background: #9b0a07;
} */

.panel {
  padding: 0 18px;
  color: #000;
  max-height: 0;
  overflow: hidden;
  /* width: 67.45%; */
  /* margin: 0 auto; */
  transition: max-height .2s ease-out;
}
/* 
.panel p {
  width: 100%;
} */




































/*********************************************** Responsive ***********************************************/

@media (max-width: 920px) {

  .faq--header {
    padding: 90px 0;
  }

  .container__category {
    width: 40%;
  }

              /* Aside */

  .aside__container {
    width: 300px;
    position: fixed;
    top: 80px;
    left: -300px;
    background-color: rgb(47, 122, 207);
    transition: 0.5s;
    z-index: 1;
  }

  .aside__container h5 {
    color: #fff;
    margin: 10px;
    font-size: 20px;
  }

  .aside__container.toggle {
    left: 0;
  }
  
  .toggle #tabAside i{
    transform: rotate(180deg);
    transition: 0.3s;
  }

  .aside__container ul {
    position: relative;
    z-index: 10;
    padding: 0;
    border-right: none;
  }
  /* .aside__container ul li {
    border-bottom: 1px solid rgb(31, 80, 136);
  } */
  /* .aside__container ul li:first-child {
    border-top: 1px solid rgb(31, 80, 136);
  } */

  .aside__container ul li a {
    color: #fff;
  }

  .aside__container ul li a.active__aside {
    color: #fff;
  }

  #tabAside {
    display: block;
    position: absolute;
    top: 0;
    right: -25px;
    height: 39.2px;
    width: 35px;
    background-color: rgb(47, 122, 207);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
    /* border: 1px solid rgb(31, 80, 136); */
    z-index: 1;
    /* outline: 1px solid red; */
  }

  #tabAside i {
    position: relative;
    top: 11.5px;
    right: 9px;
    color: #fff;
  }
/* Fin Aside */


  .info__container {
    width: 100%;
  }

  .info__question {
    padding: 0 10px;
  }
}

@media (max-width: 600px) {

  h1 {
    font-size: 35px;
  }

}

@media (max-width: 450px) {

  h1 {
    font-size: 30px;
  }

  .accordion i {
    right: -20px;
    top: 20px;
  }
}