footer {
  width: 100%;
}

footer .container{
  /* margin: 0; */
  display: flex;
  justify-content: space-evenly;
  align-items: initial;
  flex-wrap: wrap;
}

footer .container__content {
  width: 20%;
  color: var(--primary-color-fonts);
  min-width: 285px;
  padding: 0 20px;
}

footer .container__content .logo_footer {
  width: 100%;
}

footer .container__content p {
  font-size: 16px;
}

footer .container__content a {
  text-decoration: none;
  color: var(--primary-color-fonts);
}

footer .container__content .content__social_media,
footer .container__content .content__phone {
  list-style-type: none;
  padding: 0;

}
/* colunm 2 */
footer .container__content .content__social_media {
  display: flex;
}

footer .container__content .content__social_media li {
  padding: 0 20px 0 0;
}
footer .container__content .content__social_media li:last-child {
  padding: 0;
}

footer .container__content .content__social_media a {
  display: block;
  height: 25px;
}

footer .container__content .content__social_media a img {
  height: 100%;
}
/* colunm 3 */
footer .container__content .content__phone li {
  padding-bottom: 15px;
}
footer .container__content .content__phone li a{
  display: flex;
  align-items: center;
}

footer .container__content .content__phone li img {
  /* height: 25px; */
  padding-right: 10px;
}


@media (max-width: 769px) {
  footer .container {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  footer .container__content {
    display: block;
    padding: 25px 0;
    border-bottom: 2px solid var(--primary-color);
  }
  footer .container__content:last-child {
    border-bottom: none;
  }

}