:root {
  --primary-color: #ffffff;
  --footer-color-fonts: var(--primary-color);
  --background-color-footer: linear-gradient(#12A6FF, #05145E);
}

/* body { */
  /* max-width: 1920px; */
  /* margin: 0 auto; */
  /* border-right: 1px solid #12a4ff36; */
  /* border-left: 1px solid #12a4ff36; */
/* } */

footer {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

footer .container{
  display: flex;
  justify-content: space-evenly;
  align-items: initial;
  flex-wrap: wrap;
  padding: 50px 0;
  max-width: 1920px;
  margin: 0 auto;
}

footer .container__content {
  width: 20%;
  color: var(--footer-color-fonts);
  min-width: 285px;
  padding: 0 20px;
}

footer .container__content .logo_footer {
  width: 75%;
}

footer .container__content p {
  font-size: 16px;
}

footer .container__content a {
  text-decoration: none;
  color: var(--footer-color-fonts);
}

footer .container__content .content__social_media,
footer .container__content .content__phone {
  list-style-type: none;
  padding: 0;

}
/* colunm 2 */
footer .container__content .content__social_media {
  display: flex;
}

footer .container__content .content__social_media li {
  padding: 0 20px 0 0;
}
footer .container__content .content__social_media li:last-child {
  padding: 0;
}

footer .container__content .content__social_media a {
  display: block;
  height: 25px;
}

footer .container__content .content__social_media a img {
  height: 100%;
}
/* colunm 3 */
footer .container__content .content__phone li {
  padding-bottom: 15px;
}
footer .container__content .content__phone li a{
  display: flex;
  align-items: center;
}

footer .container__content .content__phone li img {
  /* height: 25px; */
  padding-right: 10px;
}

footer .container__content .content__phone li i {
  /* height: 25px; */
  padding-right: 10px;
  font-size: 35px;
}

footer h4 {
  font-size: 20px;
}

.background--footer{
  background: var(--background-color-footer);
}







@media (max-width: 769px) {
  footer .container {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px 0;
  }

  footer .container__content {
    display: block;
    padding: 25px 0;
    border-bottom: 2px solid var(--primary-color);
  }
  footer .container__content:last-child {
    border-bottom: none;
  }

}