
#main-wallet .container,
#main-video .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#main-wallet .container .main-wallet__img,
#main-wallet .container .main-wallet__text,
#main-video .container .main-video__img,
#main-video .container .main-video__text {
  width: 35%;
  text-align: right;
  color: var(--secundary-color-fonts);
}

#main-wallet .container .main-wallet__img,
#main-video .container .main-video__img {
  text-align: center;
}

.main-wallet__img img{
  height: 500px;
}

.main-video__img img{
  width: 100%;
}