header {
  width: 100%;
  min-height: calc(100vh - 25px);
  background-image: var(--background-color-pricipal);
  border-radius: 0 0 0px 200px;
}

.container--pages{
  width: 80%;
  padding: 100px 0;
  margin: auto;
  text-align: center;
}

.header--page--img {
  height: 50vh;
}

.page--p {
  width: 80%;
  text-align: center;
  padding-bottom: 50px;
  margin: auto;
}
/* -------------------------------------------------------------------------- */
.container--video {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 0;
  overflow: hidden;
  padding-bottom: 33%;
  padding-top: 30px;
  position: relative;
}
.container--video iframe{
  height: 100%;
  /* left: 0; */
  position: absolute;
  top: 0;
  width: 80%;
}
/* -------------------------------------------------------------------------- */
@media (max-width: 800px) {
  .header--page--img {
    height: initial;
    width: 70vw;
  }
}
