header {
  width: 100%;
  /* min-height: calc(100vh - 25px); */
  background-image: var(--background-color-pricipal);
  /* border-radius: 0 0 0px 200px; */
}

.container--pages{
  width: 80%;
  padding: 150px 0 100px;
  margin: auto;
  text-align: center;
  max-width: 1920px;
  display: flex;
  justify-content: space-around;
}

.header--page--img {
  width: 300px;
}


.groupText--header {
  text-align: left;
  width: 50%;
}

.groupText--header h1,
.groupText--header p {
  display: inline-block;
}

.page--p {
  width: 80%;
  text-align: center;
  padding-bottom: 50px;
  margin: auto;
}
/* -------------------------------------------------------------------------- */
.container--video {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 0;
  overflow: hidden;
  padding-bottom: 33%;
  padding-top: 30px;
  position: relative;
}
.container--video iframe{
  height: 100%;
  /* left: 0; */
  position: absolute;
  top: 0;
  width: 80%;
}
/* -------------------------------------------------------------------------- */

@media (max-width: 800px) {

  /* ---------------------- Header ---------------------- */
  .container__pages--header {
    padding: 50px 0;
  }
  .header--page--img {
    display: none;
  }
  .groupText--header {
    width: 80%;
    text-align: center;
  }

}
