#ranking {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranking__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  padding: 30px 0;
  color: var(--primary-color-fonts);
  border-radius: 50px;
  background: #e5e5e5;
  box-shadow: inset 20px 20px 30px #c3c3c3, 
              inset -20px -20px 30px #ffffff;
}

.ranking__container .data {
  text-align: center;
}

.ranking__container .data h3 {
  margin-top: 0;
  font-weight: 800;
}

.ranking__container .data span {
  font-size: 50px;
}